CONTENTFUL_SPACE_ID=jnd8s5ezvg4b
CONTENTFUL_ENVIRONMENT=master
CONTENTFUL_DELIVERY_TOKEN=

GATSBY_RESHEPE_PUBLIC_KEY=replace-me

# MapLibre API key
# https://cloud.maptiler.com/account/keys/
GATSBY_MAPLIBRE_API_KEY=replace-me

