.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.global-wrapper {
  flex: 1;
  margin: var(--spacing-0) auto;
  padding: var(--spacing-5);
}

.standard-width-wrapper {
  max-width: var(--maxWidth-wrapper);
}

.wide-width-wrapper {
  max-width: unset;
}
