/* Layout for the home page content */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content {
  flex: 1;
  margin: 0 auto;
  max-width: var(--maxWidth-2xl);
}

/* Styling for the work days widget */
.work-days-widget {
  align-content: center;
  width: var(--maxWidth-md);
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  padding: var(--spacing-4);
  background-color: var(--color-background);
}

.work-days-widget h3 {
  margin-top: 0;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-accent);
  padding-bottom: var(--spacing-2);
}

.work-days-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.work-days-list li {
  margin-bottom: var(--spacing-2);
  padding-left: 0;
}

.see-all-link {
  margin-top: var(--spacing-4);
  margin-bottom: 0;
  text-align: right;
}

/* Media query for larger screens */
@media screen and (min-width: 950px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr; /* Main content + widget width */
    gap: var(--spacing-6);
    justify-content: center;
    margin: 0 auto;
  }

  .main-content {
    max-width: var(--maxWidth-wrapper);
    grid-column: 2;
    justify-self: center;
  }

  .work-days-widget {
    grid-column: 3;
    align-self: start;
    position: sticky;
    top: var(--spacing-6);
  }

  .work-days-widget-title {
    font-size: var(--fontSize-3);
  }
}
