.home-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin: 0 auto;
  max-width: var(--maxWidth-2xl);
}

.work-days-widget-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width: 950px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    gap: var(--spacing-2);
    justify-content: center;
    margin: 0 auto;
  }

  .main-content {
    max-width: var(--maxWidth-wrapper);
    grid-column: 2;
    justify-self: center;
  }
}
