.file-list-container ul li {
  padding-left: unset;
  margin-left: unset;
}

.file-item-icon {
  list-style-position: outside;
}

.link-text {
  vertical-align: middle;
  top: -15px;
  position: relative;
}

@-moz-document url-prefix() {
  .link-text {
    top: unset;
    position: unset;
    vertical-align: middle;
    padding-bottom: var(--spacing-6);
  }
}

@media screen and (min-width: 500px) {
  .file-list-container {
    padding-left: var(--spacing-8);
  }

  .file-list-container ul {
    margin-left: var(--spacing-4);
  }
}
