name: Check for fixup and squash commits
on:
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  block-fixups:
    name: Fail if fixup or squash commits are found
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 100
      - name: Block fixup! commits
        uses: alexkappa/block-fixup-merge-action@v2
