name: CI

on:
  push:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      deployments: read

    steps:
      - uses: actions/checkout@v4

      - name: Install Node version from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run lint
        run: yarn lint

  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      deployments: read

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run lint
        run: yarn lint

      - name: Run build
        run: yarn build
        if: ${{ github.actor != 'dependabot[bot]' }}
        env:
          CONTENTFUL_SPACE_ID: "${{ secrets.CONTENTFUL_SPACE_ID }}"
          CONTENTFUL_DELIVERY_TOKEN: "${{ secrets.CONTENTFUL_DELIVERY_TOKEN }}"

      - name: Run tests
        run: yarn test --coverage=true
